@model IEnumerable<demo.Models.Product>

@foreach (var pro in Model)
{
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="course-item bg-light">
            <div class="position-relative overflow-hidden">
                <img style="width:410px;height:234px;" class="img-fluid" src="@pro.ImagePro" />
                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                    @Html.ActionLink("Mua khóa học", "Infor", "Cart", new { id = pro.ProductID }, new { @class = "flex-shrink-0 btn btn-sm btn-primary px-3 border-end", style = "border-radius: 30px;" })
                </div>
            </div>
            <div class="text-center p-4 pb-0">
                <h3 class="mb-0">@Html.DisplayFor(model => pro.NamePro)</h3>
                <div class="mb-3">
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                </div>
                <h5 style="color: #f05123;" class="mb-4">@demo.Common.Common.FormatNumber(pro.Price, 0) VND</h5>
            </div>
            <div class="d-flex border-top">
                <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@Html.DisplayFor(model => pro.Teacher)</small>
                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@Html.DisplayFor(model => pro.Time) tháng</small>
                <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@Html.DisplayFor(model => pro.Amount) học viên</small>
            </div>
        </div>
    </div>
}
